{% extends 'layouts/index.html' %}


{% block content %}
    <style type="text/css">
        .product {
            width: 80%;
            margin-left: 10%;
        }

        .product > h5 {
            margin-top: 20px;
        }


        .review {
            margin-top: 30px;
        }

        .review_block {
            height: max-content;
            padding: 10px;
            border: 1px solid #242b2e;
            color: #242b2e;
            background: black;
        }
        .review{
            margin-top: 30px;
        }
        .review_block {
            height: max-content;
            padding: 10px;
            border: 1px solid #242b2e;
            color: cadetblue;
        }
        .product img{
            width: 100%;
        }
    </style>
    <div class="product">
        <img src="/media/{{ products.image }}" alt = "img not found : (">
        <h1>{{ product.title }}</h1>
        <h5>{{ product.description }}</h5>
        </div>
        <div class="review">
            {% for review in review %}
                <div class="review_block">
                    <h6>{{ review.text }}</h6>
                </div>
            {% endfor %}
        </div>
        <div class="create_comment">
        <form action="/product/{{ product.id }}/" method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" class="btn btn-primary" value="Оставить комментарий">
        </form>
    </div>


    </div>
{% endblock %}
